/* You can add global styles to this file, and also import other style files */
ul{
  list-style: none;
}
.row{
  margin-right: 0;
  margin-left: 0;
}
.container{
  padding-right: 0;
  padding-left: 0;
}
div.row.container{
  padding: 0;
  width: 100%;
}
body{
  font-size: 1.6em;
  bottom: 0;
  background-color: #f9f9f9;
}
.page-left{
  padding: 1px 0 0;
  margin: 0;
}
.page-right{
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  tbody {
    font-size: 0.9em;
  }
}
.pull-left {
 margin: 5px 5px 5px 0;
}
.pull-right {
  margin: 5px 0 5px 5px;
}
div .div-request-info {
  text-align: left;
  font-size:16px;
  padding: 5px 5px 0 15px;
}
.btn-danger{
  background-color: #de0903;
}
.btn-success{
  background-color: #009900;
}
.title{
  padding-left: 10px;
}


/* DataTable */

div.ui-paginator-bottom.ui-paginator.ui-widget.ui-widget-header.ui-unselectable-text{
  padding: 10px 0;
}
tr.ui-widget-content.approvedbymanager{
  background-color: #ffebcc !important;
}
tr.ui-widget-content.approvedbyhr{
  background-color: #c6ecc6 !important;
}
tr.ui-widget-content.rejected{
  background-color: #ffcccc !important;
}
body .override-primeng-datatable .ui-datatable .ui-datatable-data > tr > td,
body .override-primeng-datatable .ui-datatable .ui-datatable-thead > tr > th {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
body .override-primeng-datatable .ui-datatable thead th.ui-state-active {
  background-color: gray;
  border-color: transparent;
  color: #ffffff;
}
body .override-primeng-datatable .ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight,
body .override-primeng-datatable .ui-state-active, body .override-primeng-datatable .ui-state-highlight,
body .override-primeng-datatable .ui-datatable .ui-datatable-data tr.ui-state-highlight {
  background-color: #9e9e9e;
  border-color: #6d6d6d;
}


/* Schedule */

.schedule-div .fc-toolbar.fc-header-toolbar {
  margin-bottom: 5px;
}
.schedule-div .fc-toolbar.fc-header-toolbar .fc-left {
  margin-bottom: 5px;
}
.schedule-div .fc-toolbar.fc-header-toolbar .fc-right {
  margin-bottom: 5px;
}
.schedule-div .fc-toolbar.fc-header-toolbar .fc-center {
  margin-top: 5px;
}
.schedule-div .fc-toolbar.fc-header-toolbar h2 {
  font-size: 1.7em;
}
.fc-scroller.fc-time-grid-container {
  min-height: 250px;
}
.fc-day.ui-widget-content.fc-tue.fc-today.ui-state-highlight {
  /* background-color: #2b8bde; */
}
